{% load static %}

<footer class="footer-main">
        <div id="footer-background-image">

            <!-- Back to top button -->
            <div class="back-to-top">
                <a href="#" aria-label="Back to the top!" title="Back To Top!">
                    <i class="fa-regular fa-square-caret-up"></i>
                </a>
            </div>

            <section id="socials" class="container-fluid">
                <h2 class="hidden-heading">Socials</h2>
                <div class="row social-networks">
                    <ul class="align-items-center">
                        <li class="col-4">
                            <a href="https://www.facebook.com/" target="_blank" rel="noopener"
                                aria-label="Visit our Facebook page (opens in a new tab)"><i class="fa-brands fa-facebook-f"></i></a>
                        </li>
                        <li class="col-4">
                            <a href="https://www.twitter.com/" target="_blank" rel="noopener"
                                aria-label="Visit our Twitter page (opens in a new tab)"><i class="fa-brands fa-twitter"></i></a>
                        </li>
                        <li class="col-4">
                            <a href="https://www.instagram.com/caldwell_cosmetics" target="_blank" rel="noopener"
                                aria-label="Visit our Instagram page (opens in a new tab)"><i class="fa-brands fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </section> -->
            
            <section class="container-fluid" id="footer-box">
                <div>
                    <h2 class="hidden-heading">Footer</h2>
                    <div class="row">
                        <div id="footer-address" class="col-6">
                            <h6 class="hidden-heading">Address</h6>
                            <p>Caldwell Cosmetics</p>
                            <p>Abergele</p>
                            <p>LL22 8FN</p>
                            <p>Wales</p>
                        </div>

                        <div class="col-3 col-md-4 text-end footer-contact">
                            <p>
                                <i class="fa-solid fa-phone"></i>
                            </p>
                            
                            <p>
                                <i class="fa-solid fa-envelope"></i>
                            </p>
                            <p>
                                <i class="fa-regular fa-calendar-days"></i>
                            </p>
                        </div>

                        <div id="footer-contact-links" class="col-3 col-md-2 text-start footer-contact">
                            <p>
                                <a href="tel:07399098081">07399 098081</a>
                            </p>
                            
                            <p>
                                <a href="mailto:caldwellcosmetics@hotmail.com">Email now!</a>
                            </p>
                            <p>
                                <a href="" id="external-link" target="_blank">Book now!</a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </footer>