{% load static %}

<head>
    <title>
    {% block title %}illumiFacial® | Caldwell Cosmetics{% endblock %}
    </title>

    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/core_pages.css' %}">
    {% endblock %}

</head>

<main>

    {% block hero %}
    {% endblock %}

    <section class="core-page-section">
        <div class="treatment-details">
            <h1 class="gradient-text italiana-bold">illumiFacial®</h1>

            <h2>Overview</h2>
            <p>
                The illumiFacial® is a cutting-edge, non-invasive facial treatment designed to rejuvenate and brighten your skin, giving you a radiant, youthful glow. 
                This advanced treatment combines the benefits of multiple skincare technologies to deliver exceptional results with minimal downtime.
            </p>

            <h2>What to Expect</h2>

            <h3>Consultation:</h3>
            <p>
                Before your illumiFacial® treatment, you will have a thorough consultation with one of our experienced professionals. This allows us to assess your skin type, 
                discuss your skincare goals, and determine the best approach for your individual needs.
            </p>

            <h3>Treatment Steps:</h3>
            <ol class="core-page-ol">
                <li><strong>Deep Cleanse:</strong> The skin is thoroughly cleansed to remove impurities and prepare it for the next steps.</li>
                <li><strong>Tri-Fruit Acid Peel:</strong> A gentle peel containing glycolic acid is applied to exfoliate the skin, removing dead skin cells and refining skin texture.</li>
                <li><strong>Lynton IPL:</strong> The award-winning Lynton IPL (Intense Pulsed Light) targets redness, broken vessels, pigmentation, and stimulates collagen production for a youthful appearance.</li>
                <li><strong>Hydrate and Protect:</strong> Specialised serums are applied to soothe, regenerate, and protect the skin, maximising treatment benefits and leaving skin revitalised.</li>
            </ol>

            <h2>Benefits:</h2>
            <ul class="core-page-ul">
                <li><strong>Brightening:</strong> Evens out skin tone and reduces pigmentation for a more luminous appearance.</li>
                <li><strong>Hydration:</strong> Keeps skin moisturised, combating dryness and dullness.</li>
                <li><strong>Anti-Aging:</strong> Stimulates collagen production, reducing fine lines and improving elasticity.</li>
                <li><strong>Smooth Texture:</strong> Exfoliation and infusion steps refine skin texture, leaving it soft and smooth.</li>
            </ul>

            <h2>Ideal For:</h2>
            <p>
                Suitable for all skin types and can be tailored to address concerns such as dullness, uneven tone, or early signs of aging. Ideal for refreshing your complexion or maintaining skin health.
            </p>

            <h2>Aftercare:</h2>
            <ul class="core-page-ul">
                <li>Some redness or sensitivity may occur post-treatment, typically subsiding within a few hours.</li>
                <li>Follow a gentle skincare routine and protect skin from sun exposure.</li>
                <li>Personalized aftercare instructions will be provided to ensure optimal results.</li>
            </ul>

            <h2>Duration and Frequency:</h2>
            <p>
                The treatment usually takes about 60 minutes. For best results, a series of treatments spaced 4-6 weeks apart is recommended. Our skincare experts will create a customised plan based on your needs and goals.
            </p>

            <h2>Book Your Appointment:</h2>
            <p>
                Experience the transformative benefits of the illumiFacial® treatment and reveal your skin's natural radiance. Contact us today to schedule your appointment and take the first step towards a more luminous, youthful complexion.
            </p>

            <h2>Equipment Used:</h2>
            <p>
                We use the UK's exclusive Medical-Grade Laser provided by <a href="https://lynton.co.uk/" target="_blank">Lynton Lasers</a>. Our state-of-the-art DYNAMIX® Medical-Grade Laser and IPL Machine ensures safe and effective results. For further details, please <a href="https://lynton.co.uk/prod/dynamix-medical-grade-laser-and-ipl-machine/" target="_blank">click here</a>.
            </p>
        </div>
    </section>

</main>