{% load static %}

<head>
    <title>
    {% block title %}IPL Hair Removal | Caldwell Cosmetics{% endblock %}
    </title>

    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/core_pages.css' %}">
    {% endblock %}

</head>

<main>

    {% block hero %}
    {% endblock %}

    <section class="core-page-section">
        <div class="treatment-details">
            <h1 class="gradient-text italiana-bold">IPL Hair Removal</h1>

            <h2>Overview</h2>
            <p>
                Our IPL Hair Removal treatment at Caldwell Cosmetics utilizes advanced Intense Pulsed Light (IPL) technology to provide a highly effective solution for long-term hair reduction. 
                This non-invasive procedure targets hair follicles with precision, offering smooth, hair-free skin with minimal downtime.
            </p>

            <h2>What to Expect</h2>

            <h3>Consultation:</h3>
            <p>
                Prior to your IPL Hair Removal session, you will undergo a comprehensive consultation with one of our skilled professionals. This will include assessing your skin and hair types, 
                discussing your hair removal goals, and determining the optimal treatment plan tailored to your needs.
            </p>

            <h3>Treatment Steps:</h3>
            <ol class="core-page-ol">
                <li><strong>Preparation:</strong> The area to be treated is cleansed to remove oils or residues. A cooling gel is applied to enhance comfort during the procedure.</li>
                <li><strong>IPL Application:</strong> Using our state-of-the-art DYNAMIX® - Medical-Grade Laser and IPL Machine, pulses of light target the hair follicles. The pigment in the hair absorbs the energy, damaging the follicle and inhibiting future growth.</li>
                <li><strong>Post-Treatment Care:</strong> A soothing moisturizer and SPF may be applied to protect the skin and reduce any potential redness or sensitivity.</li>
            </ol>

            <h2>Benefits:</h2>
            <ul class="core-page-ul">
                <li><strong>Long-Term Hair Reduction:</strong> Targets hair follicles at the root, reducing hair growth over time and offering a more permanent solution.</li>
                <li><strong>Smooth Skin:</strong> Enjoy hair-free skin with fewer ingrown hairs and less irritation.</li>
                <li><strong>Minimal Downtime:</strong> Effective hair removal with minimal disruption to your daily routine.</li>
                <li><strong>Precision:</strong> IPL technology allows precise targeting, suitable for various areas of the body.</li>
            </ul>

            <h2>Ideal For:</h2>
            <p>
                Suitable for a wide range of skin and hair types. Whether treating small areas like the upper lip or larger areas like the legs, the treatment can be customised to suit your needs.
            </p>

            <h2>Aftercare:</h2>
            <ul class="core-page-ul">
                <li>Mild redness or sensitivity may occur post-treatment, usually resolving within a few hours.</li>
                <li>Follow a gentle skincare routine and protect the treated area from sun exposure.</li>
                <li>Detailed aftercare instructions will be provided for optimal results.</li>
            </ul>

            <h2>Duration and Frequency:</h2>
            <p>
                Each session typically lasts 20-60 minutes, depending on the area treated. For optimal results, a series of sessions spaced 4-6 weeks apart is recommended. Our specialists will create a personalised treatment plan tailored to your hair removal goals.
            </p>

            <h2>Book Your Appointment:</h2>
            <p>
                Discover the convenience and effectiveness of IPL Hair Removal at Caldwell Cosmetics. Contact us today to schedule your appointment and take the first step towards smooth, hair-free skin.
            </p>

            <h2>Equipment Used:</h2>
            <p>
                We use the UK's exclusive Medical-Grade Laser provided by <a href="https://lynton.co.uk/" target="_blank">Lynton Lasers</a>. Our Lynton DYNAMIX® Medical-Grade Laser and IPL Machine ensures safe and effective results. For further details, please <a href="https://lynton.co.uk/prod/dynamix-medical-grade-laser-and-ipl-machine/" target="_blank">click here</a>.
            </p>
        </div>
    </section>
</main>