{% load static %}

<head>
    <title>{% block title %}PRP Treatments | Caldwell Cosmetics{% endblock %}</title>

    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/core_pages.css' %}">
    {% endblock %}
</head>

<main>

    {% block hero %}
    {% endblock %}

    <section class="core-page-section">
        <div class="treatment-details">
            <h1 class="gradient-text italiana-bold">PRP Treatments</h1>

            <h2>Overview</h2>
            <p>
                At Caldwell Cosmetics, we use a gel separator system to isolate platelets for high concentration and purity, maximising the regenerative benefits of PRP for skin 
                rejuvenation, hair restoration, and wound healing. This is the gold standard. PRP therapy is a cutting-edge, non-surgical procedure designed to stimulate collagen 
                production and enhance skin texture, offering a natural approach to achieving a youthful and vibrant appearance.
            </p>

            <h2>What to Expect</h2>

            <h3>Consultation:</h3>
            <p>
                Before your PRP treatment, you will have a comprehensive consultation with one of our experienced professionals. This allows us to evaluate your skin condition, discuss your 
                aesthetic goals, and determine the most effective PRP protocol tailored to your needs.
            </p>

            <h3>Treatment Steps:</h3>
            <ul class="core-page-ul">
                <li><strong>Blood Collection:</strong> A small amount of blood will be drawn from your arm, which will then be processed using a centrifuge to separate the platelet-rich plasma from other components.</li>
                <li><strong>Preparation:</strong> The PRP is carefully extracted and prepared for application.</li>
                <li><strong>PRP Application:</strong> The PRP is injected into targeted areas of the skin using fine needles. The growth factors in the PRP stimulate the body's natural healing processes, promoting collagen production and improving skin texture.</li>
                <li><strong>Post-Treatment Care:</strong> Following the PRP injections, PPP is massaged into the treated area.</li>
            </ul>

            <h2>Benefits:</h2>
            <ul class="core-page-ul">
                <li><strong>Hair & Skin Rejuvenation:</strong> PRP therapy promotes the natural regeneration of skin cells and hair rejuvenation, leading to a more youthful and refreshed appearance.</li>
                <li><strong>Collagen Production:</strong> The growth factors in PRP stimulate collagen synthesis, helping reduce fine lines and improve skin elasticity.</li>
                <li><strong>Improved Texture:</strong> PRP enhances skin texture and tone, reducing the appearance of acne scars, stretch marks, uneven pigmentation, and overall skin imperfections.</li>
                <li><strong>Natural Results:</strong> Since PRP utilizes your own blood, it offers a natural and biocompatible solution for skin rejuvenation with minimal risk of adverse reactions.</li>
            </ul>

            <h2>Ideal For:</h2>
            <p>
                PRP treatments are suitable for all skin types and can address a variety of concerns, including fine lines, wrinkles, acne scars, and overall skin texture. PRP can be used to rejuvenate hair and promote healing following a hair transplant. Whether you are seeking to enhance your complexion or 
                target specific areas of concern, PRP therapy offers a versatile and effective solution.
            </p>

            <h2>Aftercare:</h2>
            <p>
                After your PRP treatment, you may experience some redness, swelling, or minor bruising, which typically resolves within a few days. To optimize results, it is important to follow a gentle skincare routine and 
                avoid direct sun exposure. Our team will provide personalized aftercare instructions to ensure the best possible outcome.
            </p>

            <h2>Duration and Frequency:</h2>
            <p>
                The PRP treatment session usually takes about 60-90 minutes. For optimal results, a series of treatments spaced 4-6 weeks apart is often recommended. Our specialists will work with you to develop a customized 
                treatment plan based on your individual goals and skin condition.
            </p>

            <h2>Book Your Appointment:</h2>
            <p>
                Experience the transformative effects of Platelet Rich Plasma (PRP) therapy at Caldwell Cosmetics. Contact us today to schedule your appointment and take the first step towards revitalizing your skin with natural, rejuvenating treatments.
            </p>
        </div>
    </section>

</main>